body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    background-image: url('Figures/background_index.jpg'); /* Path to your image */
    background-size: cover;       /* Scales image to cover entire area */
    background-repeat: no-repeat; /* Prevents tiling */
    background-color:rgb(20, 5, 20); /* Fallback color */
}
        
        
h1 {
    color: white;
    padding-top: 0px;
    padding-left: 10px;
 }

 ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
 }

 li {
    color: #f4f4f4;
    display: inline;
    padding-right: 50px;
    margin: 0px;
    padding-left: 0px;
    padding-top: 0px;
 }

 a {
    text-decoration: none;
    color: #f4f4f4;
 }

 p {
    color: #f4f4f4;
    padding: 0px;
 }

 .glass-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));       /* Semi-transparent white */
    backdrop-filter: blur(2px);                /* Blur the background behind */
    -webkit-backdrop-filter: blur(10px);        /* Safari support */
    border-radius: 0px;                        /* Rounded corners */
    padding: 0px;
    padding-bottom: 30px;
    border: px solid rgba(255, 255, 255, 0.3);  /* Subtle border */
    color: #fff;                                /* Text color for contrast */
    margin: 0px;
 }

 .glass-paragraph {
    background: linear-gradient(to top, rgba(84, 20, 141, 0.25), rgba(255, 255, 255, 0));       /* Semi-transparent white */       /* Semi-transparent white */
    backdrop-filter: blur(40px);                /* Blur the background behind */
    -webkit-backdrop-filter: blur(20px);        /* Safari support */
    border-radius: 10px;                        /* Rounded corners */
    padding: 10px 10px;
    border: px solid rgba(255, 255, 255, 0.3);  /* Subtle border */
    color: #fff;                                /* Text color for contrast */
    max-width: 600px;
    margin: 10px;
    position: center;
}

 .glass-box {
    background: rgba(168, 192, 192, 0.25);    /* Semi-transparent white */
    backdrop-filter: blur(10px);                /* Blur the background behind */
    -webkit-backdrop-filter: blur(10px);        /* Safari support */
    border-radius: 10px;                        /* Rounded corners */
    padding-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);  /* Subtle border */
    color: #fff;                                /* Text color for contrast */
    max-width: 240px;
    margin-left: 0px;
    position: center;
}

button {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 1);
    color: white;
    cursor: pointer;
}

input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(200, 200, 200, 1);
    color: white;
}
